body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,ul,ul li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
/* Fonts */
@font-face {
    font-family: 'Intro-Bold';
    src: url(../fonts/intro-bold.ttf);
}
@font-face {
    font-family: 'Intro-Regular';
    src: url(../fonts/intro-regular.ttf);
}
@font-face {
    font-family: 'Intro';
    src: url(../fonts/intro.otf);
}

  .header--content {
    position: absolute;
    top: 16%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    z-index: 3;
    text-align: center;
  }
  .kurjun--content--img {
    max-width: 43%;
  }
  /* Главная страница */
  #header {
      max-width: 1920px;
      margin: 0 auto;
      height: 100vh;
      background: linear-gradient(rgb(252, 252, 252) 0%, rgb(236, 236, 234) 25%, rgb(233, 233, 232) 50%, rgb(194, 196, 194) 75%, rgb(204, 204, 206) 100%);
  }
  .top--nav {
      position: relative;
      z-index: 4;
      padding: 12px 0;
  }
  .logo--img {
      width: 170px;
  }
  .menu {
      padding-top: 5px;
  }
  .menu--item {
      font-family: 'Intro-Bold';
      font-size: 16px;
      margin: 0 14px;
      color: #6e6d6d;
  }
  .menu--item:hover {
      color: #292a2a;
      text-decoration: underline;
  }
  .soc--links a i {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    margin-left: 14px;
  }
  .fa-facebook-f {
      background-color:  #4267B2;
      color: #fff;
      border: 1px solid #4267B2;
      font-size: 18px;
  }
  .fa-instagram {
      color: #C13584;
      border: none;
      font-size: 30px;
  }
  .fa-whatsapp {
      color: #008000;
      font-size: 32px;
      border: none;
  }
  #content {
      position: relative;
      z-index: 4;
  }
  .content--img {
      max-width: 45%;
  }
  .content--block--desc {
      font-family: 'Intro-Regular';
      color: #292a2a;
      margin: 0 auto;
      padding-top: 20px;
      font-size: 18px;
  }
  .download--app--btn {
      font-family: 'Intro-Bold';
      font-size: 20px;
      color: #292a2a;
      background: transparent;
      padding: 7px 20px;
      margin: 30px 0;
      text-align: center;
      transition: .2s;
  }
  .download--app--btn:focus {
      outline: none;
  }
