body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,ul,ul li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
/* Fonts */
@font-face {
    font-family: 'Intro-Bold';
    src: url(../fonts/intro-bold.ttf);
}
@font-face {
    font-family: 'Intro-Regular';
    src: url(../fonts/intro-regular.ttf);
}
@font-face {
    font-family: 'Intro';
    src: url(../fonts/intro.otf);
}

@-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
}

@-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  .background-container{
      position: absolute;
      top: auto;
      left:0;
      width: 100%;
      height: 100vh;
      overflow-x: hidden;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
        z-index: 0;
  }
  
  .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      
      -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
  }
  
  .clouds{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
  
     -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
  }
  .header--content {
    position: absolute;
    top: 16%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    z-index: 3;
    text-align: center;
  }
  .kurjun--content--img {
    max-width: 43%;
  }
  /* Главная страница */
  #header {
      max-width: 1920px;
      margin: 0 auto;
      height: 100vh;
  }
  .top--nav {
      position: relative;
      z-index: 4;
      padding: 12px 0;
  }
  .logo--img {
      width: 170px;
  }
  .menu {
      padding-top: 4px;
  }
  .menu--item {
      font-family: 'Intro-Bold';
      font-size: 16px;
      margin: 0 14px;
      color: #fff;
  }
  .menu--item:hover {
      color: #fff;
      text-decoration: underline;
  }
  .soc--links a i {
    color: #fff;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-left: 14px;
  }
  .soc--links a i:hover {
      color: #000;
      background-color: #fff;
  }
  #content {
      position: relative;
      top: 320px;
      z-index: 4;
  }
  .content--block--desc {
      font-family: 'Intro-Regular';
      color: #fff;
      margin: 0 auto;
      padding-top: 20px;
      font-size: 18px;
  }
  .download--app--btn {
      font-family: 'Intro-Bold';
      font-size: 20px;
      color: #fff;
      background: transparent;
      padding: 7px 20px;
      margin: 30px 0;
      text-align: center;
      transition: .2s;
  }
  .download--app--btn:focus {
      outline: none;
  }
