/* Fonts */
@font-face {
    font-family: 'Intro-Bold';
    src: url(../fonts/intro-bold.ttf);
}
@font-face {
    font-family: 'Intro-Regular';
    src: url(../fonts/intro-regular.ttf);
}
@font-face {
    font-family: 'Intro';
    src: url(../fonts/intro.otf);
}
@font-face {
    font-family: 'GTEestiProDisplay-Regular';
    src: url(../fonts/GTEestiProDisplay-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,ul,ul li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
.screen {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 0;
}

  .header--content {
    position: absolute;
    top: 16%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    z-index: 3;
    text-align: center;
  }
  .kurjun--content--img {
    max-width: 43%;
  }
  .searh--input {
    font-family: 'Intro-Regular';
    border: 1px solid rgb(189, 184, 184);
    border-radius: 5px;
    padding: 2px 30px 3px 7px;
    font-size: 14px;
    width: 400px;
    margin-top: 7px;
  }
  .search span {
    position: relative;
    top: 0;
    left: -32px;
    cursor: pointer;
    padding: 0 1px 6px;
  }
  .search--icon {
      width: 18px;
  }
  .searh--input:focus {
      outline: none;
  }
  .korzina--txt {
      font-family: 'GTEestiProDisplay-Regular';
      font-size: 12px;
      color: #6e6d6d;
      position: relative;
      top: -5px;
      left: 3px;
  }
  /* Главная страница */
  #header {
      background-color: #fff;
      position: relative;
  }
  .top--nav {
      position: relative;
      z-index: 4;
  }
  .logo--img {
      width: 170px;
  }
  .menu {
    padding: 10px 0 20px;
  }
  .menu--item {
    font-family: 'GTEestiProDisplay-Regular';
    font-size: 15px;
    color: #6e6d6d;
    transition: .3s;
    margin: 0 4px;
    padding: 3px 18px;
    background: #fff;
    transition: .3s;
}
  .menu--item:hover {
    color: #222;
    box-shadow: 0px 0px 0px #6e6d6d;
  }
  .soc--links {
    position: fixed;
    bottom: 30px;
    left: 0;
    flex-direction: column;
    z-index: 888;
    margin-left: 4px;
  }
  .soc--links a {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    margin-bottom: 5px;
    transition: .2s;
  }
  .soc--icon1:hover {
    transform: rotate(30deg);
  }
  .soc--icon2:hover {
    transform: rotate(30deg);
  }
  .soc--icon3:hover {
    transform: rotate(30deg);
  }
  .soc--icon4:hover {
    transform: rotate(30deg);
  }
  .icon--img {
      width: 23px;
  }
  .register a {
      font-family: 'GTEestiProDisplay-Regular';
      font-size: 14px;
      color: #6e6d6d;
      transition: .3s;
  }
  .register a:hover {
      color: #222;
  }
  .korzina--img {
      width: 40px;
  }
  .korzina {
      text-align: center;
  }
 
  /* Content */
  .advertising--item {
      height: 440px;
      text-align: center;
  }
  .advertising .slick-prev:before, .slick-next:before {
      color: #333232;
      font-family: 'Intro-Bold';   
  }
  .advertising--item:focus {
      outline: none;
  }
  .advertising .slick-dots li button:before {
      font-size: 28px;
  }
  .advertising .slick-dots {
      bottom: -36px;
  }
  .advertising .slick-dots li {
      margin: 0 2px;
  }
  /* Categories */
  #categories {
      padding-bottom: 0;
      border-bottom: 1px solid rgb(179, 179, 179);
  }
  .content--title {
      font-family: 'Intro-Bold';
      font-size: 24px;
      padding: 24px 10px 14px;
  }
  .categories--slide {
      width: 120px;
      height: 160px;
      text-align: center;
      padding: 5px;
      border: none;
      border-radius: 4px;
      transition: .3s;
      margin: 10px;
      outline: none;
  }
  .categories--slide img {
      transform: scale(1);
      transition: .3s;
  }
  .categories--slide:hover img {
      transform: scale(1.15);
  }
  .categories--slide a:focus {
      outline: none;
  }
  .categories--slide a img {
      width: 100px;
      height: 100px;
      margin: 0 auto;
  }
  .categories--txt {
      font-family: 'Roboto-Regular';
      font-size: 14px;
      color: #222;
      line-height: 14px;
  }
  .categories--slider {
      position: relative;
  }
  .left__arrow {
    position: absolute;
    top: 50%;
    left: -20px;
    cursor: pointer;
    width: 45px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(255, 255, 255);
    padding: 10px;
    transform: translate(0%, -50%);
  }
  .right__arrow {
      position: absolute;
      top: 50%;
      right: -20px;
      cursor: pointer;
      width: 45px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 20px rgb(255, 255, 255);
      padding: 10px;
      transform: translate(0%, -50%);
  }
    .categories--slider .slick-dots li button:before {
        font-size: 24px;
    }
    .advertising  .left__arrow {
        top: auto;
        bottom: 10px;
        right: 120px;
        left: auto;
        z-index: 99;
    }
    .advertising  .right__arrow {
        top: auto;
        bottom: 10px;
        right: 40px;
    }
  /* Products */
  #products {
      padding-top: 40px;
  }
  .products--container {
      width: 100%;
  }
  .filter {
      margin-right: 20px;
      text-align: left;
      padding: 2px 10px;
      width: 20%;
      background-color: transparent;
  }
  .filter--title {
      font-family: 'Intro-Bold';
      font-size: 20px;
      color: #222;
      padding-bottom: 14px;
  }
  .keyword {
      font-family: 'Roboto-Regular';
      font-size: 15px;
      width: 100%;
      color: #222;
      padding: 4px;
      border: 1px solid #1a72a5;
      border-radius: 7px;
      margin: 4px 0;
  }
  .keyword::placeholder {
    font-family: 'Roboto-Regular';
    font-size: 15px;
    color: rgb(211, 208, 208);
    padding: 4px;
  } 
  .keyword:focus {
      outline: none;
  }
  #choose--region:focus {
      outline: none;
  }
  .filter--txt {
    font-family: 'Roboto-Regular';
    font-size: 13px;
    color: #222;
    padding: 20px 0 3px;
  }
  #choose--region {
    font-family: 'Intro-Bold';
    font-size: 13px;
    color: #1a72a5;
    padding: 5px 0 10px; 
    margin: 3px 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid #1a72a5;
  }
  .filter--cost {
      padding-bottom: 4px;
      border-bottom: 1px solid #1a72a5;
  }
  .cost--input {
      width: 40px;
      border: none;
      margin: 0 10px;
      text-align: center;
  }
  .cost--input:focus {
      outline: none;
  }
  .choose--category {
      font-family: 'Intro-Bold';
      font-size: 16px;
      padding: 24px 0 0;
      text-align: center;
      color: #1a72a5;
  }


  .radio-item {
    position: relative;
    padding: 0 6px;
    margin: 8px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .radio-item input[type='radio'] {
    display: none;
  }
  .radio--item__extra {
      margin: 26px 0;
      width: auto;
  }
  .filter--checkbox {
    font-family: 'Roboto-Regular';
    font-size: 13px;
    color: #222;
    line-height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  .radio-item span {
    content: " ";
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0 5px 0 0;
    min-width: 12px;
    height: 12px;
    border-radius: 11px;
    border: 2px solid #1a72a5;
    background-color: transparent;
  }
  .radio-item input[type=radio]:checked + span:after {
    border-radius: 11px;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 1px;
    left: 1px;
    content: " ";
    display: block;
    background: #1a72a5;
  }
  .radio-item--extra {
      padding-top: 14px;
  }
  .filter--btn {
      font-family: 'Intro-Bold';
      background-color: #1a72a5;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      padding: 2px 4px;
      width: 100%;
      color: #fff;
      margin-top: 20px;
      transition: .2s;
  }
  .filter--btn:hover {
      background-color: #3c8fbe;
  }
  .filter--btn:focus {
      outline: none;
  }
  .news--container {
      width: 80%;
  }
  .news {
      justify-content: space-between;
  }
  .card--block {
    width: 200px;
    margin: 0 7px 50px;
  }
  .card--info {
      line-height: 16px;
      text-align: center;
  }
  .news--card {
      width: 200px;
      height: 200px;
      text-align: center;
      border: 1px solid rgb(230, 229, 229);
      border-radius: 8px;
  }
  .news--card img {
      object-fit: fill;
      border-radius: 8px;
      background-color: transparent;
  }
  .card--img {
      position: relative;
  }
  .stock {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 4px;
      font-family: 'Intro-Bold';
      font-size: 13px;
      color: #fff;
      padding: 3px 14px 2px;
      background-color: #f91155;
  }
  .news--card img:focus {
      outline: none;
  }
  .news--card .slick-dots li button:before {
      font-size: 18px;
      color: #1a72a5;
  }
  .news--card .slick-dots li {
      margin: 0;
      width: 15px;
  }
  .product--desc {
      font-family: 'OpenSans-Regular';
      font-size: 12px;
      color: rgb(65, 64, 64);
      padding: 6px 0 0;
  }
  .product--price {
      font-family: 'Intro-Bold';
      font-size: 14px;
      color: rgb(65, 64, 64);
  }
  .link--store {
      font-family: 'OpenSans-Regular';
      font-size: 14px;
      line-height: 20px;
  }
  .add--kurjun {
      font-family: 'Intro-Bold';
      font-size: 12px;
      color: #fff;
      padding: 5px;
      width: 100%;
      background: #1a72a5;
      border-radius: 4px;
      border: none;
      margin-top: 4px;
      transition: .1s;
  }
  .add--kurjun:hover {
      background-color: #3c8fbe;
  }
  .add--kurjun span {
      font-family: 'OpenSans-Regular';
  }
  .add--kurjun:focus {
      outline: none;
  }
  .buy--now {
      background-color: #02c212;
  }
  .buy--now:hover {
      background-color: #4ed859;
  }
  .more--btn {
      font-family: 'Intro-Bold';
      font-size: 16px;
      border: none;
      outline: none;
      background: transparent;
      color: rgb(105, 103, 103);
      text-align: right;
      transition: .3s;
      margin:0 10px 30px 0;
  }
  .more--btn:hover {
      color: #222;
  }
  .more--btn:focus {
      outline: none;
  }
  .products--cont {
      text-align: right;
  }
  .products--cont .content--title {
      text-align: left;
      padding: 0 0 15px;
  }
  #popup {
      width: 300px;
      display: none !important;
  }
 
  /* Footer */
  #footer {
      max-width: 1920px;
      margin: 0 auto;
      padding: 30px 0;
      background-color: #3c8fbe;
  }
  .footer--address {
      font-family: 'Roboto-Regular';
      font-size: 16px;
      color: #fff;
      opacity: .9;
      padding-top: 7px;
  }
  .footer--link {
      font-family: 'Roboto-Regular';
      font-size: 16px;
      color: #fff;
      opacity: .8;
      transition: .3s;
      border-bottom: 1px solid #fff;
      padding-bottom: 2px;
      margin-bottom: 5px;
  }
  .footer--link:hover {
      opacity: 1;
      color: #fff;
  }
  .footer--contacts {
      line-height: 34px;
  }
  .download--app {
      position: absolute;
      right: 0;
      z-index: 99;
  }
  .download--link {
      background-color: #222;
      padding: 4px 10px;
      border-radius: 8px;
      margin-bottom: 10px;
      height: 36px;
      width: 123px;
      margin-left: 20px;
  }
  .download--link img {
      width: 22%;
  }
  .app--download--txt {
      font-family: 'Intro-Bold';
      font-size: 8px;
      color: #fff;
  }
  .app--download--txt span {
      font-size: 10px;
  }
  .btns {
      text-align: -webkit-right;
  }
  .privacy--policy {
      font-family: 'Roboto-Regular';
      font-size: 16px;
      color: #fff;
      text-decoration: underline;
  }
  .privacy--policy:hover {
      color: #fff;
      text-decoration: none;
  }
  /* Страница конфиденциальности */
  #privacy--policy {
      max-width: 1920px;
      margin: 0 auto;
  }
  .privacy--header {
      font-family: 'GTEestiProDisplay-Regular';
      color: #000;
      padding: 40px 0 20px;
  }
  .privacy--title {
      font-family: 'GTEestiProDisplay-Regular';
      color: #000;
      padding: 0 0 10px;
      text-decoration: underline;
      font-size: 19px;
      padding: 20px 0;
  }
  .privacy--text {
      font-family: 'Roboto-Regular';
      font-size: 16px;
      color: #000;
      line-height: 28px;
      padding: 10px 0;
  }
  .privacy--subtitle {
      font-family: 'Intro-Bold';
  }